<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="salesSystem.bus.mapper.SalesMapper">

    <update id="updateSalesNumberById">
        update bus_sales set `number` = `number` + #{number} where id = #{id} and (`number` + #{number}) >= 0
    </update>

</mapper>
